<div class="container">
    <div class="row">
      <div class="col-12 mt-3">
          <div class="card">
            <div class="card-header d-flex align-items-start justify-content-between">
              <h1 class="card-title my-0">{{users[whichItem].login}}</h1>
              <nav class="btn-group">
                <a class="btn btn-sm btn-secondary" 
                  href="#/details/{{prevItem}}">&lt;</a>
                <a class="btn btn-sm btn-secondary" 
                  href="#/">&bull;</a>
                <a class="btn btn-sm btn-secondary" 
                  href="#/details/{{nextItem}}">&gt;</a>
              </nav>
            </div>
            <div class="card-body"
              ng-model="users">
              <div class="row">
                <div class="col-sm-6">

              <img class="rounded-circle float-left mr-4 "
                ng-src="{{users[whichItem].avatar_url}}"
                alt="Photo of {{users[whichItem].login}}">

                </div>
                <div class="col-sm-6 mt-3">

                <div class="url float-left">
                    <a href="{{users[whichItem].followers_url}}">
                        <div class="card-text text-secondary">
                            Followers URL
                        </div>
                    </a>
                    <a href="{{users[whichItem].following_url}}">
                        <div class="card-text text-secondary">
                            Following URL
                        </div>
                    </a>
                    <a href="{{users[whichItem].gists_url}}">
                        <div class="card-text text-secondary">
                            Gists URL
                        </div>
                    </a>
                    <a href="{{users[whichItem].organizations_url}}">
                        <div class="card-text text-secondary">
                            Organizations URL
                        </div>
                    </a>
                    <a href="{{users[whichItem].events_url}}">
                        <div class="card-text text-secondary">
                            Events URL
                        </div>
                    </a>
                    <a href="{{users[whichItem].repos_url}}">
                        <div class="card-text text-secondary">
                            Repos URL
                        </div>
                    </a>

                </div><!--Url-->
                <form class="formgroup sendLove"
                name="myform"
                ng-submit="sendLove()"
                novalidate>
                <div class="form-group">
                  <input ng-model="love" class="form-control mr-sm-2" type="text" placeholder="Send me Love!!!" ng-required="true">
                </div>
                <div class="form-group">  
                <button ng-disabled="myform.$invalid" class="btn btn-primary " type="submit">Send Me Love❤</button>
                
                </div>
                </form>
                </div>
            </div>
            </div>
          </div>    
      </div>
    </div>
  </div>